<div class="card">
  <div class="card-header">
    <h4>Batch Details</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- <div class="col-sm-8"> -->
        <table class="table table-striped mt-1">
          <thead class="thead-inverse">
            <td style="font-weight: 700">Batch Name</td>
            <td style="font-weight: 700">Uploaded on</td>
            <td style="font-weight: 700">Status</td>
            <td style="font-weight: 700">Actions</td>
          </thead>
          <tr *ngFor="let singleData of data">
            <td> {{singleData.name}} </td>
            <td> {{singleData.date_uploaded}} </td>
            <td> {{singleData.status}} </td>
            <td>
              <button>View documents detail</button>
              <button>Edit</button>
              <button>Delete</button>
            </td>
          </tr>
        </table>
      <!-- </div> -->
    </div>
  </div>
</div>